.App {
  height: 100vh;
  width: 100vw;
  background-image: url('http://www.flaik.com/sites/default/themes/flaik_guest/img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Circular,'Helvetica Neue',helvetica,arial,sans-serif;
  color: white;
}

header {
  padding: 60px;
}

.logo {
  height: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

header .logo svg {
  width: auto;
  height: 100%;
  flex: 0.1;
}

header .logo path {
  stroke: #EC2A25;
  stroke-width: 6;
}
