.App {
  font-family: 'Helvetica Neue',helvetica,arial,sans-serif;
}

.page1 {
  height: 100vh;
  width: 100vw;
  background-image: url('http://www.flaik.com/sites/default/themes/flaik_guest/img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.page1 .container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header {
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
}

header .logo {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex: 0.17;
  min-width: 190px;
}

header .logo svg {
  width: auto;
  height: 30px;
}

header .logo path {
  stroke: #EC2A25;
  stroke-width: 6;
}

header .buttons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1;
}

header .buttons button {
  margin: 0 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 1px solid rgba(255, 255, 255, .3);
  color: #fff;
  width: 160px;
  height: 45px;
  border-radius: 22.5px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  transition: background-color 0.5s, box-shadow 0.5s;
}

header .buttons button:hover {
  background-color: #EF4230;
  box-shadow: 0 10px 10px #1C232B;
}

section.content {
  width: 90%;
  margin: auto;
}

section.content h1 {
  font-size: 60px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

section.content h2 {
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 300;
  margin-top: 0px;
}

.page2 {
  height: 100vh;
  width: 100vw;
  color: #000;
}