.App {
  font-family: 'Helvetica Neue',helvetica,arial,sans-serif;
}

.page1 {
  height: 100vh;
  width: 100vw;
  background-image: url('http://www.flaik.com/sites/default/themes/flaik_guest/img/bg.jpg');
  background-color: #1C232B;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.page1 .container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.page2 .container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.page1 section.content {
  width: 90%;
  margin: auto;
}

.page2 section.content {
  width: 90%;
  margin: 0 auto;
}

section.content h1 {
  font-size: 60px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

section.content h2 {
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 300;
  margin-top: 0px;
}

.page2 {
  height: 100vh;
  width: 100vw;
  color: #000;
}