@media (max-width: 800px) {
  section.footer {
    display: none;
  }
}

.footer h3 {
  font-weight: 200;
  text-transform: uppercase;
  color: #6A798A;
  width: 70%;
  margin: auto;
}

.icon-container {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer h3 {
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-size: 14px;
}

.tech-icon {
  height: 50px;
  width: 50px;
}

.tech-icon svg {
  filter: grayscale(100%);
  transition: transform 0.2s, filter 0.2s;
  width: 100%;
  height: 100%;
}

.tech-icon svg:hover {
  filter: grayscale(0%);
  transform: scale(1.1, 1.1);
}

.tech-icon span {
  opacity: 0;
  transition: opacity 0.5s;
}

.tech-icon svg:hover + span {
  opacity: 1;
}