@media (min-width: 799px) {
  section.IconsPage {
    display: none;
  }
}

section.IconsPage {
  width: 90%;
  margin-top: 100px;
  letter-spacing: 2px;
  text-align: center;
}

.IconsPage .icon-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.IconsPage .icon-container .col {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
}

@media (max-width: 449px) {
  .IconsPage .icon-container .col {
    padding: 20px 0;
  }
}